pyew/target/
pyew/.cache/
pyew/.env
pyew/**/*.rs.bk
pyew/node_modules/
pyew/pkg
pyew/wasm-pack.log
pseed/node_modules/
pseed/.cache/
pseed/.env
psauron/node_modules/
psauron/.cache/
psauron/.env
svets/node_modules/
svets/.env
ppercy/.cache
ppercy/node_modules/
ppercy/.env
core/target/
target/
